body {
    /* background-image: url('https://cdn.pixabay.com/photo/2020/09/23/03/54/background-5594879_1280.jpg'); */
    margin: 0;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  .topnav a {
    float: left;
    color: #480557;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(57, 55, 55);
    color: rgb(250, 248, 248);
  }
  
  .topnav a.active {
    background-color: #f8e406;
    color: rgb(19, 19, 19);
  }
  p{
      text-align: center;
      background-color: rgb(8, 0, 0);
      margin-left: 25%;
      margin-right: 25%;
      margin-top: 5%;
      font-family:'Times New Roman', Times, serif; 
      color:aliceblue;
      font-size: large;
  }